# Run in context of one realm: starts with default realm and disables realms page navigation
# REALM=MNGO
# NEXT_PUBLIC_MAINNET_RPC is no longer used for mainnet HTTP requests.
NEXT_PUBLIC_MAINNET_RPC=
NEXT_PUBLIC_DEVNET_RPC=https://api.devnet.solana.com
MAINNET_RPC=
DEVNET_RPC=https://api.devnet.solana.com
JUPITER_API_KEY=
JUPITER_SWAP_API_BASE_URL=https://api.jup.ag
HELIUS_MAINNET_RPC=
HELIUS_DEVNET_RPC=

DEFAULT_GOVERNANCE_PROGRAM_ID=GTesTBiEWE32WHXXE2S4XbZvA5CrEc4xs6ZgRe895dP

NEXT_PUBLIC_API_ENDPOINT=https://api.realms.today/graphql
NEXT_PUBLIC_DISCORD_APPLICATION_CLIENT_ID=1042836142560645130
NEXT_PUBLIC_DISCORD_MATCHDAY_CLIENT_ID=1044361939322683442
